html {
    box-sizing: border-box;
        font-size: 16px;
    }
    
    *, *:before, *:after {
        box-sizing: inherit;
    }
    
    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    
    ol, ul {
        list-style: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }


    header {
        display: flex;
        padding: 24px 370px;
        width: 1920px;
        height: 88px; 
        background-color: #F6F5F4;
        align-items: center;
    }

    .leftside-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 30px;
        width: 540px;
        height: 22px;
    }

    .rightside-header {
        display: flex;
    }

    .header__logo{
        font-family: 'Dela Gothic One';
        font-style: normal;
        font-weight: 400;
        font-size: 20.8609px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .vl {
        width: 0px;
        height: 16.87px;
        border: 1.20466px solid #E0E0E0;
    }

    .header__chpage {
        height: 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.04em;
        color: #000000;
    }

    .header__page {
        display: flex;
        height: 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.04em;
        color: #757575;
        
    }

    .header-page__button {
        height: 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 140%;
        letter-spacing: -0.04em;
        color: #757575;
        border: none;
        background-color: #F6F5F4;
        margin-top: -1px;        
    }

    .rightside-header{
        padding-left: 430px;
    }

    .header__A {
        width: 13px;
        height: 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.04em;
        color: #2B788B;
    }

    .header__Abox {
        justify-content: center;
        align-items: center;
        margin-top: -9px;
        padding: 9px 14px;
        gap: 14px;
        width: 41px;
        height: 40px;
        background: #C3DCE3;
        border-radius: 100px;
    }

    .header__username{
        padding-left: 10px;
    }

    .header__signOut{
        padding-left: 30px;
    }

    .gl{
        width: 1920px;
        height: 0px;
        border-bottom: 1.20466px solid #E0E0E0;
    }

    .block1_background {
        background-color: #F6F5F4;
    }

    .homepage-block1{
        display: flex;        
        width: 1180px;
        height: 700px;
        margin-left: 369.95px;
        top: 0px;        
    }

    .homepage-block1-text {
        width: 531px;
        height: 510.78px;
        padding-top: 94.61px;
        padding-bottom: 94.61px;
    }

    .pretitle {
        width: 225px;
        height: 16px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #2B788B;
    }